<div class="planner-mypage">
  <div class="mypage-header">
    <h2 class="mypage-text">マ イ ペ ー ジ</h2>
  </div>
  <div class="planner-contents">
    <div class=mypage-side>
      <div class="planner-info">
        <div class="planner-photo">
          <%= image_tag "logo.jpg", class: "photo"%>
        </div>
        <div class="account-name">
        アカウント名
        </div>
      </div>
      <div class="mypage-list">
        <h5><%= link_to "登録ユーザー一覧"%></h5>
      </div>
      <div class="mypage-list">
        <h5><%= link_to "アカウント情報"%></h5>
      </div>
      <div class="mypage-list">
        <h5><%= link_to "プロフィール情報"%></h5>
      </div>
      <div class="mypage-list">
        <h5><%= link_to "ログアウト"%></h5>
      </div>
    </div>
    <div class="mypage-main">
      <div class="main-title text-center">
        <h3>ようこそプランナー様</h3>
      </div>
      <div class="main-content">        
        <div class="content-body">
          <div class="planner-user-card text-center">
            <%= image_tag "user-index-logo.jpg", class: "planner-index-logo mt-2"%>
            <div class="planner-user-info mt-2">
              <%= link_to "登録ユーザー一覧ページ"%>
            <hr>
              <div class="planner-user-info-text mt-2 mb-2">
                登録関係にあるユーザーの<br/>
                一覧ページです<br/>
                ユーザーに登録されればそのユーザーと
                チャットすることもできます
              </div>
            </div>
          </div>
        </div>
        <div class="content-body">
          <div class="planner-user-card text-center">
            <%= image_tag "account-logo.jpg", class: "planner-index-logo mt-2"%>
            <div class="planner-user-info mt-2">
              <%= link_to "アカウント情報ページ"%>
            <hr>
              <div class="planner-user-info-text mt-4">
                あなたのアカウントのページです<br/>
                編集することができます
              </div>
            </div>
          </div>
        </div>
        <div class="content-body">
          <div class="planner-user-card text-center">
            <%= image_tag "profile-logo.png", class: "planner-index-logo mt-2"%>
            <div class="planner-user-info mt-2">
              <%= link_to "プロフィール情報ページ"%>
            <hr>
              <div class="planner-user-info-text mt-4">
                あなたのプロフィールのページです<br/>
                プロフィールを作成し<br/>
                あなたのプランナー力を<br/>
                アピールしよう
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>