<div class="planner-mypage">
     <div class="mypage-header">
          <h2 class="mypage-text">マ イ ペ ー ジ</h2>
     </div>
     <div class="planner-contents">
          <div class=mypage-side>
               <div class="planner-info">
                    <div class="planner-photo">
                         <%= image_tag "logo.jpg", class: "photo"%>
                    </div>
                    <div class="account-name">
                         アカウント名
                    </div>
               </div>
               <div class="mypage-list">
                    <h5><%= link_to "登録ユーザー一覧"%></h5>
               </div>
               <div class="mypage-list">
                    <h5><%= link_to "アカウント情報", planner_mypage_path(current_planner)%></h5>
               </div>
               <div class="mypage-list">
                    <h5><%= link_to "プロフィール情報", profile_path(current_planner)%></h5>
               </div>
               <div class="mypage-list">
                    <h5><%= link_to "マイページトップ", planner_mypages_path%></h5>
               </div>
               <div class="mypage-list">
                    <h5><%= link_to "ログアウト"%></h5>
               </div>
          </div>
          <div class="mypage-main">
               <div class="main-title text-center">
                    <h3>アカウント情報ページ</h3>
               </div>
               <div class="account-info">
                    <div class="account-content">
                         <div class="planner-nickname d-flex justify-content-center">
                              <h4 class="mr-5">アカウント名</h4>
                              <h3><%= @planner.nickname%></h3>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
