<div class="top-page">
<% if planner_signed_in? %>
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1"><%= link_to "ログアウト", destroy_planner_session_path, method: :delete %></span>
  </nav>
<% end %>
  <div class="wedding-page">
    <div class="contents-base">
      <div class="wedding-logo text-center">
        <%= image_tag "logo.png", class: "wedding-content"%>
      </div>
      <div class="album">
        <%= image_tag "wedding-4.jpeg", class: "img1"%>
        <%= image_tag "wedding-5.jpeg", class: "img2"%>
        <%= image_tag "wedding-6.jpeg", class: "img3"%>
        <%= image_tag "wedding-7.jpeg", class: "img4"%>
      </div>
      <div class="center-text text-center mt-5">
        <p>もっと自由な挙式を</p>
        <br>
        <p>あなたとプランナーで作る</p>
        <br>
        <p>あなただけの結婚式</p>
      </div>
      <div class="user-rogin text-center d-flex justify-content-center">
        <%= link_to(user_session_path, class: "rogin-btn ml-5 mr-5") do %>
          <span> ログインはこちら </span>
        <% end %>
        <%= link_to(new_user_registration_path, class: "signup-btn ml-5") do %>
          <span> 初めての方はこちら </span>
        <% end %>
      </div>
      <div class="wedding-point">
      <hr>
        <div class="point">
          <%= image_tag "wedding-8.webp"%>
          <div class="point-text">
            料理にはこだわりたい
          </div>
        </div>
      <hr>
        <div class="point">
          <%= image_tag "wedding-9.jpeg"%>
          <div class="point-text">
            高価でありきたりなオプションはいらない
          </div>
        </div>
      <hr>
        <div class="point">
          <%= image_tag "wedding-10.jpeg"%>
          <div class="point-text">
            挙式のクオリティは絶対に落とせない
          </div>
        </div>
      <hr>
        <div class="point">
          <%= image_tag "wedding-11.jpeg"%>
          <div class="point-text">
            私らしいオンリーワンな挙式
          </div>
        </div>
      <hr>
      </div>
      <div class="wedding-concept">
        <div class="concept">
          <p>岸和田ウェディングでは</p>
          <p>従来の結婚式場に任せる</p>
          <p>ようなスタイルではなく</p>
          <p>フリーランスプランナーとあなたとで</p>
          <p>挙式を細部まで思いのままに</p>
          <P>コーディングすることができます</P>
          <p>結婚式場のルールもなく</p>
          <p>低コストであなただけの</p>
          <p>理想のウェディングを</p>
      </div>
    <% unless planner_signed_in? %>
      <div class="planner-btn text-center">
        <div class="btn-square-soft">
          <%= link_to "プランナー様はこちら", new_planner_registration_path %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
